{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block content %}
<script src="https://kit.fontawesome.com/92bd51dfcf.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<div class="login-page">
  <div class="form">
    <h1>{% trans "Sign In" %}</h1>
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
    <p class="message">{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-lg" rel="nofollow"><i class="fa fa-google"></i>Sign in with Google</a>
    
    {% include "socialaccount/snippets/login_extra.html" %}
    {% else %}
    <p class="message">{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}
    <form class="login register-form" method="POST" action="{% url 'account_login' %}" >
        {% csrf_token %}
        <input type="email" name="login" placeholder="E-mail" autocomplete="email" required="" id="id_login">
        <input type="password" name="password" placeholder="Password" autocomplete="current-password" required="" id="id_password">
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>
</div>
{% endblock %}